<div class="p-5">
  <tabset>
    <tab heading="Pay Bills" id="tab1">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Payee</th>
            <th scope="col">Account</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of bills;">
            <td>
              <span class="text-left">{{element.payee}}</span>
              <span class="pull-right">                
                <div class="btn-group" dropdown>
                  <span dropdown (onShown)="onShown()" [autoClose]="true" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
                      <a href id="basic-link" dropdownToggle (click)="false"
                          aria-controls="basic-link-dropdown">
                          <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left"
                          role="menu" aria-labelledby="basic-link">
                        <span class="mr-2 pull-right" (click)="dropDownMenuClick=true"><i class="fa fa-close"></i></span>
                        <li *ngFor="let choice of items">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                      </ul>
                    </span>
                </div>
              </span>
            </td>
            <td>{{element.account}}</td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Recurring Bills">
        Recurring Bills content goes here!
    </tab>
    <tab heading="Activity">      
        Activity content goes here!
    </tab>
  </tabset>
</div>